@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
body {
  background-color: #fff;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  color: #000;
  font-size:1.5em;
}
.content{
  float:left;
  margin-left:5%;
  margin-top:15px;
  margin-right:5%;
}
a {
  color:#039cfd;
}
.icon {
	font-decoration:none;
}
.em {
font-style:italic;
font-weight:bold;
text-decoration:none;
font-family: 'EB Garamond', serif;
}
.strong {
font-weight:bold;
text-decoration:none;
font-weight: 600;
font-family: 'EB Garamond', serif;
}
a:hover {
  color: #01194f;
  }
    ul{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    line-height:1.6em;
    }
::selection {
  background: #000; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: #000
  color:#fff; /* Gecko Browsers */
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
  background: #000;
  color:#fff;
	font-weight:bold;
}

/* image thingy */
.miniature {
	max-width:600px;
	border-radius: 6%;
}

/* showcase */

.showcase {
max-width: 600px;
aspect-ratio: 16/4.8;
display: flex;
position: relative;
margin: 2rem 0;
}

@keyframes showImage {
  0% { opacity: 0; }
  1% { opacity: 1; }
  10% { opacity: 1; }
  11% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes throw-r {
	from {
		transform: translate3d(0px,0,0);
		opacity: 1;
	}
	to {
		transform: rotateZ(2deg) translate3d(90px,50px,0);
		opacity: 0;
	}
}

.showcase img {
  --num-images: 12.2;
  --show-dur: 3s;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 27px;
  position: absolute;
  animation: showImage calc(var(--num-images) * var(--show-dur)) cubic-bezier(0.190, 1.000, 0.220, 1.000) both infinite;
}

.showcase img:nth-child(1) {
	animation-delay: calc(var(--show-dur) * (1 - 1));
}

.showcase img:nth-child(2) {
	animation-delay: calc(var(--show-dur) * (2 - 1));
}

.showcase img:nth-child(3) {
	animation-delay: calc(var(--show-dur) * (3 - 1));
}

.showcase img:nth-child(4) {
	animation-delay: calc(var(--show-dur) * (4 - 1));
}

.showcase img:nth-child(5) {
	animation-delay: calc(var(--show-dur) * (5 - 1));
}

.showcase img:nth-child(6) {
	animation-delay: calc(var(--show-dur) * (6 - 1));
}

.showcase img:nth-child(7) {
	animation-delay: calc(var(--show-dur) * (7 - 1));
}

.showcase img:nth-child(8) {
	animation-delay: calc(var(--show-dur) * (8 - 1));
}

.showcase img:nth-child(9) {
	animation-delay: calc(var(--show-dur) * (9 - 1));
}

.showcase img:nth-child(10) {
	animation-delay: calc(var(--show-dur) * (10 - 1));
}

.showcase img:nth-child(11) {
	animation-delay: calc(var(--show-dur) * (11 - 1));
}

.showcase img:nth-child(12) {
	animation-delay: calc(var(--show-dur) * (12 - 1));
}
