@import 'https://fonts.googleapis.com/css?family=EB+Garamond';
body {
  background-color: #fff;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  color: #000;
  font-size:1.5em;
}
.content{
  float:left;
  margin-left:5%;
  margin-top:15px;
}
a {
  color:#039cfd;
}
.em {
font-style:italic;
font-weight:bold;
text-decoration:none;
font-family: 'EB Garamond', serif;
}
.strong {
font-weight:bold;
text-decoration:none;
font-family: 'EB Garamond', serif;
}
a:hover {
  color: #01194f;
  }
    ul{
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    line-height:1.6em;
    }
